html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{-webkit-box-sizing:border-box;box-sizing:border-box}*,*::before,*::after{-webkit-box-sizing:inherit;box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}

:root{
    --primary: #4267b2;
    --light-primary-color: #3b5c9f;
    --bg-color: #e9ebee;
    --gray-color: #4e5665;
    --border-gray-color: #dddfe2;
    --gray-medium: #f5f6f7;
    --light-gray-color: #90949c;
    --secondary-color: #4b4e55;
    --active-color: #272b32;
    --header-color: #fff;
    --green-online: #42b72a;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 13px;
    background-color: var(--bg-color);
    overflow: hidden;
    position: relative;
}
::-webkit-input-placeholder {
    color: var(--light-gray-color);
    opacity: 1; /* Firefox */
}
::-moz-placeholder {
    color: var(--light-gray-color);
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
    color: var(--light-gray-color);
    opacity: 1; /* Firefox */
}
::-ms-input-placeholder {
    color: var(--light-gray-color);
    opacity: 1; /* Firefox */
}
::placeholder {
    color: var(--light-gray-color);
    opacity: 1; /* Firefox */
}
.title_seconday{
    color: var(--secondary-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 1.5em;
    letter-spacing: .5px;
}
.header_container
{
    position: relative;
    background-color: var(--primary);
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    color: var(--header-color);
    font-weight: 600;
    font-size: 12px;
    z-index: 9;
}
.inline_center_vertical
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
a{
    color: inherit;
    text-decoration: none;
}
.header_container .facebook_icon,
.header_navigation__links__item .icons_links
{
    width: 25px;
    height: 25px;
    overflow: hidden;
}
.header_navigation__links__item .icons_links.account .icon_image{height: 200px;}

.fa_facebook_square,
.header_navigation__links__item .icons_links .icon_image{
    background-image: url("../img/fb_icons.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 120px;
    height: 5000px;
    -webkit-transform: translate(-49px, -1305px);
        -ms-transform: translate(-49px, -1305px);
            transform: translate(-49px, -1305px);
}
.header_container .form_wrapper{
    height: 25px;
    width: 450px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 10px;
}
.header_container .form_wrapper .search_input{
    display: inline-block;
    width: 100%;
    height: 100px;
    max-height: 25px;
    padding: 5px;
    border: none;
    color: var(--gray-color);
    font-size: 13px;
}

.header_container .form_wrapper .search_icon{
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    display: block;
    position: absolute;
    height: 100%;
    width: 25px;
    right: 15px;
    top: 0;
}

.header_navigation .header_navigation__links,
.header_navigation .profile_img_container,
.header_navigation__links__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 25px;
    overflow-y: hidden;
}
.header_navigation .profile_img_container{overflow: unset;}

.header_navigation .profile_img{
    height: 100%;
    width: 25px;;
    border-radius: 50%;
    margin-right: 5px;
}
.header_navigation__links__item:not(:last-child)::after{
    content: "";
    display: inline-block;
    border: none;
    height: 60%;
    background-color: var(--light-primary-color);
    margin: 0 8px;
    width: 1px;
}

.header_navigation__links__item .icons_links{height: 5000px;}
.header_navigation__links__item .icons_links.account{height: 200px;}
.header_navigation__links__item .icons_links:not(:last-child){
    margin-right: 5px;
}

.header_navigation__links__item .invitation .icon_image{
    -webkit-transform: translate(-50px, 1025px);
        -ms-transform: translate(-50px, 1025px);
            transform: translate(-50px, 1025px);
}
.header_navigation__links__item .message .icon_image{
    -webkit-transform: translate(-25px, 1075px);
        -ms-transform: translate(-25px, 1075px);
            transform: translate(-25px, 1075px);
}
.header_navigation__links__item .notification .icon_image{
    -webkit-transform: translate(-24px, 1050px);
        -ms-transform: translate(-24px, 1050px);
            transform: translate(-24px, 1050px);
}
.header_navigation__links__item .account .icon_image{
    background-image: url("../img/fb_icons2.png");
    width: 25px;
    -webkit-transform: translateY(63px);
        -ms-transform: translateY(63px);
            transform: translateY(63px);
}
.header_navigation__links__item .help .icon_image{
    -webkit-transform: translate(1px, 975px);
        -ms-transform: translate(1px, 975px);
            transform: translate(1px, 975px);
}

.header_navigation__links__item .options .icon_image{
    -webkit-transform: translate(-2px, 1025px);
        -ms-transform: translate(-2px, 1025px);
            transform: translate(-2px, 1025px);
}

.content_wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.main{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.post_image{cursor: pointer;}
.modal_bg,
.main .main_container
{
    width: 1050px;
    max-width: 100%;
    margin: 0 auto;
    padding: 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.modal_image_container{
    z-index: 99;
    width: 950px;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}
.modal_image_container .modal_big_image{
    width: 100%;
}

.main .main_container .new_post_support,
.main .main_container .new_post_card
{
    max-width: 534px;
    height: 176px;
    margin-bottom: .8em;
}

.main .main_container .new_post_card
{
    position: relative;
    overflow: hidden;
}
body.modal_open .card.new_post_card
{
    position: absolute;
    width: 100%;
    z-index: 99;
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,.3);
            box-shadow: 4px 4px 4px rgba(0,0,0,.3);
}
body.modal_open .modal_bg,
body.modal_open_img .modal_bg
{
    width: unset;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.45);
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
}
.content_wrapper .contacts{
    min-width: 220px;
    font-size: 13px;
}
.main_container .main_left_sidebar{width: 200px;}
.main_container .main_left_sidebar .account_options__items
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 2.1;
    cursor: pointer;
}
.main_container .main_left_sidebar .account_options__items.active,
.main_container .main_left_sidebar .account_options__items:hover{
    background: #f5f6f7;
    border: #dddfe2;
}
.account_options_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.main_left_sidebar .account_options__items .account_options_links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-y: hidden;
}
.main_left_sidebar h4{
    margin-top: 1em;
    font-weight: 600;
    line-height: 1;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--secondary-color);
}

.account_options__items .account_options_links img.profile_img,
.account_options_links .account_option_links_img_container{
    width: 22px;
    height: 22px;
    overflow: hidden;
    display: inline-block;
    margin: 0 5px;
}
.account_options_links .account_option_links_img_container .account_options_links_img
{
    display: inline-block;
    background-image: url("../img/fb_icons.png"); 
    background-repeat: no-repeat;
    -webkit-transform: translate(-3px, 3px);
        -ms-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
    width: 200px;
    height: 5000px;
}
.profile_link{
    margin-bottom: .5em;
}
.account_options__items .account_options_links img.profile_img{
    border-radius: 50%;
}

.account_options_links .account_option_links_img_container .account_options_links_img.fil_actu{  
    -webkit-transform: translate(-20px, -1675px);  
        -ms-transform: translate(-20px, -1675px);  
            transform: translate(-20px, -1675px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.options{  
    -webkit-transform: translate(-20px, -1948px);  
        -ms-transform: translate(-20px, -1948px);  
            transform: translate(-20px, -1948px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.msn{
    -webkit-transform: translate(-72px, -1104px);
        -ms-transform: translate(-72px, -1104px);
            transform: translate(-72px, -1104px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.watch{
    -webkit-transform: translate(-19px, -1801px);
        -ms-transform: translate(-19px, -1801px);
            transform: translate(-19px, -1801px);
}
.watch_icon{
    position: relative;
    width: 100%;
    display: inline-block;
}
.watch_icon::after{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fa3e3e;
    position: absolute;
    right: 5px;
}
.nb
{
    color: var(--light-gray-color);
    font-size: 11px;
    margin-right: 5px;
}
.account_options_links .account_option_links_img_container .account_options_links_img.market{
    -webkit-transform: translate(-62px, -1654px);
        -ms-transform: translate(-62px, -1654px);
            transform: translate(-62px, -1654px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.club,
.account_options_links .account_option_links_img_container .account_options_links_img.basketball{
    background-image: url("../img/ludo_club.png");
    width: 18px;
    height: 18px;
    background-size: contain;
    -webkit-transform: translate(3px, 3px);
        -ms-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.basketball{
    background-image: url("../img/backetball.jpg");
}
.account_options_links .account_option_links_img_container .account_options_links_img.covid{
    -webkit-transform: translate(-20px, -1740px);
        -ms-transform: translate(-20px, -1740px);
            transform: translate(-20px, -1740px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.pages{
    -webkit-transform: translate(-73px, -1143px);
        -ms-transform: translate(-73px, -1143px);
            transform: translate(-73px, -1143px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.events{
    -webkit-transform: translate(-73px, -1401px);
        -ms-transform: translate(-73px, -1401px);
            transform: translate(-73px, -1401px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.groups{
    -webkit-transform: translate(-73px, -1041px);
        -ms-transform: translate(-73px, -1041px);
            transform: translate(-73px, -1041px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.collect{
    -webkit-transform: translate(1px, -1633px);
        -ms-transform: translate(1px, -1633px);
            transform: translate(1px, -1633px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.listfriends{
    -webkit-transform: translate(-41px, -1612px);
        -ms-transform: translate(-41px, -1612px);
            transform: translate(-41px, -1612px);
}


.account_options_links .account_option_links_img_container .account_options_links_img.games{
    -webkit-transform: translate(-75px, -1062px);
        -ms-transform: translate(-75px, -1062px);
            transform: translate(-75px, -1062px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.reference{
    -webkit-transform: translate(-75px, -1505px);
        -ms-transform: translate(-75px, -1505px);
            transform: translate(-75px, -1505px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.manageapp{
    -webkit-transform: translate(-75px, -1209px);
        -ms-transform: translate(-75px, -1209px);
            transform: translate(-75px, -1209px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.oculus{
    -webkit-transform: translate(-74px, -1125px);
        -ms-transform: translate(-74px, -1125px);
            transform: translate(-74px, -1125px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.offers{
    -webkit-transform: translate(-62px, -1676px);
        -ms-transform: translate(-62px, -1676px);
            transform: translate(-62px, -1676px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.selgroup{
    -webkit-transform: translate(0px, -1780px);
        -ms-transform: translate(0px, -1780px);
            transform: translate(0px, -1780px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.crisisservice{
    -webkit-transform: translate(-75px, -1462px);
        -ms-transform: translate(-75px, -1462px);
            transform: translate(-75px, -1462px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.refoundfriends{
    -webkit-transform: translate(-62px, -1612px);
        -ms-transform: translate(-62px, -1612px);
            transform: translate(-62px, -1612px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.videosgames{
    -webkit-transform: translate(-73px, -999px);
        -ms-transform: translate(-73px, -999px);
            transform: translate(-73px, -999px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.weather{
    -webkit-transform: translate(-62px, -1759px);
        -ms-transform: translate(-62px, -1759px);
            transform: translate(-62px, -1759px);
}

.account_options_links .account_option_links_img_container .account_options_links_img.memories{
    -webkit-transform: translate(1px, -1696px);
        -ms-transform: translate(1px, -1696px);
            transform: translate(1px, -1696px);
}

.account_options_links .account_option_links_img_container .account_options_links_img.lives{
    -webkit-transform: translate(-41px, -1654px);
        -ms-transform: translate(-41px, -1654px);
            transform: translate(-41px, -1654px);
}

.account_options_links .account_option_links_img_container .account_options_links_img.jobs{
    -webkit-transform: translate(-74px, -1293px);
        -ms-transform: translate(-74px, -1293px);
            transform: translate(-74px, -1293px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.recording{
    -webkit-transform: translate(-74px, -1271px);
        -ms-transform: translate(-74px, -1271px);
            transform: translate(-74px, -1271px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.more{
    -webkit-transform: translate(-15px, -2314px);
        -ms-transform: translate(-15px, -2314px);
            transform: translate(-15px, -2314px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.video{
    -webkit-transform: translate(-74px, -1166px);
        -ms-transform: translate(-74px, -1166px);
            transform: translate(-74px, -1166px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.photo{
    -webkit-transform: translate(-62px, -1696px);
        -ms-transform: translate(-62px, -1696px);
            transform: translate(-62px, -1696px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.friend{
    -webkit-transform: translate(-41px, -1613px);
        -ms-transform: translate(-41px, -1613px);
            transform: translate(-41px, -1613px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.more-options{
    -webkit-transform: translate(-20px, -1885px);
        -ms-transform: translate(-20px, -1885px);
            transform: translate(-20px, -1885px);
}


.contacts .account_option_links_img_container
{
    width: 18px;
    height: 18px;

}
.account_options_links .account_option_links_img_container .account_options_links_img.search{
    background-image: url("../img/fb-icons3.png");
    -webkit-transform: translate(1px, -532px);
        -ms-transform: translate(1px, -532px);
            transform: translate(1px, -532px);
    height: 1000px;
}
.account_options_links .account_option_links_img_container .account_options_links_img.settings{
    background-image: url("../img/fb-icons3.png");
    -webkit-transform: translate(-33px, -532px);
        -ms-transform: translate(-33px, -532px);
            transform: translate(-33px, -532px);
    height: 1000px;
}.account_options_links .account_option_links_img_container .account_options_links_img.edit{
    background-image: url("../img/fb-icons3.png");
    height: 1000px;
    -webkit-transform: translate(2px, -446px);
        -ms-transform: translate(2px, -446px);
            transform: translate(2px, -446px);
}.account_options_links .account_option_links_img_container .account_options_links_img.add{
    background-image: url("../img/fb-icons3.png");
    -webkit-transform: translate(-16px, -480px);
        -ms-transform: translate(-16px, -480px);
            transform: translate(-16px, -480px);
    height: 1000px;
}
.foldable_event{
    color: var(--primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
    outline: none;
}
.foldable_event.hide{
    display: none;
}

.foldable{
    height: 0;
    overflow: hidden;
}
.foldable.open{
    height: auto;
}

.main_content{
    padding: 0 1em;
    overflow-x: hidden;
    height:100vh;
    min-width: 560px;
}
/*  HIDE Scrollbar */
 /* Hide scrollbar for Chrome, Safari and Opera */
/* Hide scrollbar for IE, Edge and Firefox */
.main_content::-webkit-scrollbar
{
    display: none;
}
.main_content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 
/* END HIDE Scrollbar */
.main_content .card_title
{
    font-weight: 700;
}

.main_content .card{ 
    border: 1px solid var(--border-gray-color);
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 5px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 13px;
    margin-bottom: .8em;
}
.main_content .post_card:last-child{
    margin-bottom: 100px;
}
.main_content .card .new_post_head{
    background-color: var(--gray-medium);
    padding: .5em;
    border-bottom: 1px solid var(--border-gray-color);   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.new_post_head .account_options_links .account_option_links_img_container .account_options_links_img
{
    display: none;
}
body.modal_open .new_post_head .account_options_links .account_option_links_img_container .account_options_links_img
{
    display: inline-block;
    background-image: url("../img/fb-icons3.png");
    -webkit-transform: translate(-11px, -243px);
        -ms-transform: translate(-11px, -243px);
            transform: translate(-11px, -243px);
}
.main_content .card_body
{
    padding: 1em 1em 0 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.main_content .separator
{
    content: "";
    display: block;
    border-bottom: 1px solid var(--border-gray-color);
    width: calc(100% - 2em);
    margin: 1em auto 1em auto;
}

.main_content .card_body .profile_image{
    width: 45px;
    border-radius: 50%;
}

.main_content .card_body .new_post
{
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    border: none;
    margin-left: 1.5em;
    resize: none;
    padding: 1em  0;
    font-size: 13px;
    font-family: inherit;

    -ms-overflow-style: none;
    scrollbar-width: none; 
    width: 100%;
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
}
.main_content .card_body .new_post::-webkit-scrollbar
{
    display: none;
}

.main_content .card_footer ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px;
    padding-bottom: .8em;
    font-size: 12px;
}

.main_content .card_footer .account_options__items:not(:last-child)
{
    margin-right: 5px;
}
.main_content .card_footer .account_options__items
{
    background-color: var(--gray-medium);
    border-radius: 20px;
    padding: .5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.main_content .card_footer .account_options__items .account_options_links
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.main_content .card_header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .6em 1em;
    font-size: 14px;
}
.main_content .card_header .create_room
{
    color: var(--primary);
    font-weight: 500;
    font-size: 12px;
}
.main_content .room_card{border-radius: 10px;}
.main_content .room_card_body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: .6em 1em;
    /* TODO HIDE SCROLLBAR */
}
.main_content .room_card_body .room
{
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    position: relative;
    margin-right: 15px;
    cursor: pointer;
}
/* .main_content .room_card_body .room .info
{
    display: block;
    color: #FFF;
    background-color: rgba(0,0,0,.7);
    position: absolute;
}
.main_content .room_card_body .room .info .title
{
    font-weight: 600;
}
.main_content .room_card_body .room:hover .info
{
    opacity: 1;
} */
.main_content .room_card_body .room:last-child{
    margin-right: 0;
}
.main_content .room_card_body .room .profile_image
{
    border-radius: 50%;
    display: inline-block;
}
.main_content .room_card_body .room:first-child .room_overlay
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0,0,0,.45);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}
.main_content .room_card_body .room:not(:first-child) .room_overlay
{
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var(--green-online);
    bottom: 0px;
    right: 0px;
    border: 2px solid #fff;
}
.main_content .room_card_body .room:first-child .room_overlay::after
{
    content: "+";
    font-weight: 400;
    color: #fff;
    display: block;
    font-size: 32px;
}

/* STORIES */
.stories_card {
    border-radius: 4px;
}
.stories_card .stories_card_body
{
    padding-bottom: 1em;
    overflow-x: auto;
}
.stories_card .stories_card_body ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
}
.stories_card .stories_card_body_item:not(:last-child)
{
    margin-right: .6em;
}
.stories_card .stories_card_body_item
{
    display: inline-block;
    height: 210px;
    width: 110px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    font-weight: 600;
}
.stories_card .storie_bg_image
{
    background-image: url("https://thispersondoesnotexist.com/image");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    /* Firefox */
    /* WebKit */
    -webkit-transition: transform .3s;
    /* Opera */
    -o-transition: transform .3s;
    /* Standard */
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}
.stories_card  .stories_card_body_item:not(:first-child) .storie_bg_image
{
    background-image:url("https://picsum.photos/350/200/?random");
}

.stories_card .storie_bg_image .overlay
{
    background-color: rgba(0,0,0,.3);
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
.stories_card .storie_bg_image:hover .overlay{
    opacity: 1;
}
.stories_card .storie_bg_image:hover
{
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
}
.stories_card  .stories_card_body_item .add_story{display: none;}
.stories_card  .stories_card_body_item .profile_img,
.stories_card  .stories_card_body_item .add_story
{
    position: absolute;
    left: 8px;
    top: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.stories_card  .stories_card_body_item:first-child .profile_img img{display: none;}
.stories_card  .stories_card_body_item:first-child .add_story{
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(-8px,-8px);
        -ms-transform: translate(-8px,-8px);
            transform: translate(-8px,-8px);
}
.stories_card  .stories_card_body_item:first-child .add_story::after
{
    content: "+";
    display: block;
    font-weight: 400;
    color: var(--primary);
    font-size: 40px;
}
.stories_card  .stories_card_body_item:not(:first-child) .profile_img
{
    border: 4px solid var(--primary);
}
.stories_card  .stories_card_body_item .user_name
{
    position: absolute;
    bottom: 8px;
    left: 8px;
}
.stories_card .stories_card_body_item .storie_content
{
    padding: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    z-index: 1;
}

/* END STORIE */
.main_content .post_card .post_card_head{
    padding: .4em .8em ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--gray-color);
    font-weight: 400;
    font-size: 13px;
}


.main_content .post_card .post_card_head + .separator{margin-top: 0;}
.post_card .separator{margin:.8em auto .4em auto}
.main_content .post_card .post_card_body .post_author
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 .8em;
    padding-bottom: 1em;
    color: var(--primary);
    font-weight: 400;
}
.main_content .post_card .post_card_body .post_author .profile_image
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}
.main_content .post_card .post_card_body .post_author h2{
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
}
.main_content .post_card .post_card_body .post_author .hours::after
{
    content: ".";
    display: inline-block;
    margin-left: 5px;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
}

.main_content .post_card .post_author .account_options_links .account_option_links_img_container .account_options_links_img
{
    -webkit-transform: translate(-68px, -2178px);
        -ms-transform: translate(-68px, -2178px);
            transform: translate(-68px, -2178px);
}
.main_content .post_card .post_description
{
    padding: 0 .8em;
    padding-bottom: 1em;
    font-weight: 400;
    color: var(--active-color);
}
.post_content img{
    width: 100%;
}
.post_likes_comments
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
    padding: .5em .8em;
    padding-bottom: 0;
}
.likes_count,
.share_comments_counts{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.likes_number,.share{
    margin-left: 10px;
}

.post_likes_comments .account_options_links{
    display: inline-block;
    width: 22px;
}
.post_card_footer .account_options_links .account_option_links_img_container .account_options_links_img
{
    background-image: url("../img/fb_icon4.png");
    width: 600px;
    height: 200px;
}
.post_likes_comments .account_options_links .account_option_links_img_container .account_options_links_img.likes_thumb
{
    -webkit-transform: translate(1px, -2031px);
        -ms-transform: translate(1px, -2031px);
            transform: translate(1px, -2031px);
}
.post_likes_comments .account_options_links .account_option_links_img_container .account_options_links_img.likes_love
{
    -webkit-transform: translate(-20px, -2032px);
        -ms-transform: translate(-20px, -2032px);
            transform: translate(-20px, -2032px);
}
.post_likes_comments .account_options_links .account_option_links_img_container .account_options_links_img.likes_solidarity
{
    -webkit-transform: translate(-62px, -2032px);
        -ms-transform: translate(-62px, -2032px);
            transform: translate(-62px, -2032px);
}

.post_card_footer .account_options_links .account_option_links_img_container .account_options_links_img.like
{
    -webkit-transform: translate(-203px, -75px);
        -ms-transform: translate(-203px, -75px);
            transform: translate(-203px, -75px);
}
.post_card_footer .account_options_links .account_option_links_img_container .account_options_links_img.comment
{
    -webkit-transform: translate(-128px, -75px);
        -ms-transform: translate(-128px, -75px);
            transform: translate(-128px, -75px);
}
.post_card_footer .account_options_links .account_option_links_img_container .account_options_links_img.share
{
    -webkit-transform: translate(-272px, -75px);
        -ms-transform: translate(-272px, -75px);
            transform: translate(-272px, -75px);
}

.post_card .post_card_footer ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: .2em .8em .8em 4.5em;
}
.post_card .post_card_footer img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.main_container .main_right_sidebar
{
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 310px;
    font-size: 12px;
    color: var(--primary);
}
.main_right_sidebar .min_card{
    background-color: #fff;
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.main_right_sidebar .min_card .lang_list
{
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.main_right_sidebar li:not(:last-child)::after{
    content: ".";
    display: inline-block;
    margin: 0 5px;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
}
.main_right_sidebar li:not(.selected_lang)
{
    cursor: pointer;
}
.main_right_sidebar li.selected_lang
{
    color: var(--light-gray-color);
    cursor: default;
}
.main_right_sidebar .notices{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .7em 1em 0 1em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: var(--light-gray-color);
}

.main_right_sidebar .add_lang{
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    padding: 0 .4em;
    line-height: 1;
    font-size: 25px;
    font-weight: 500;
    color: var(--gray-color);
    cursor: pointer;
}
.main_right_sidebar .facebook_copyright{
    color: var(--gray-color);
    margin-left: 1em;
}
.contacts{
    border-left: 1px solid #ccc;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
}
.contacts .title_seconday{
    margin: 0 .7em;
    margin-bottom: 1em;
}

.contacts img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 .7em;
}
.contacts .list_friends{
    padding-right: 1em;
    height: calc(100vh - 80px);

    padding-top: 15px;
    overflow-y: scroll;
}
.contacts .list_friends li,
.contacts .list_friends li div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.contacts .list_friends li.online .logout_since{
    display: none;
}

.contacts .list_friends li.online .green_dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--green-online);
}

.contacts .list_friends li{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 35px;
    margin: 10px 0;
    color: var(--secondary-color);
    font-weight: 400;
}
.contacts .list_friends li:last-child{
    margin-bottom: 20px;
}
.contacts .list_friends .logout_since{
    -ms-flex-item-align: end;
        align-self: flex-end;
    color: var(--gray-color);
}

.contacts .wrapper_form
{
    position: absolute;
    bottom: 45px;
    width: 100%;
    background-color: #fff;
}
.contacts .wrapper_form .search_container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
}

.contacts .wrapper_form input{
    border: none;
    padding: .5em;
    max-width: 40%;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
}
.contacts .wrapper_form .account_options_links
{
    padding-left: 0px;
}