html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}

:root{
    --primary: #4267b2;
    --light-primary-color: #3b5c9f;
    --bg-color: #e9ebee;
    --gray-color: #4e5665;
    --border-gray-color: #dddfe2;
    --gray-medium: #f5f6f7;
    --light-gray-color: #90949c;
    --secondary-color: #4b4e55;
    --active-color: #272b32;
    --header-color: #fff;
    --green-online: #42b72a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 13px;
    background-color: var(--bg-color);
    overflow: hidden;
}

.title_seconday{
    color: var(--secondary-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 1.5em;
    letter-spacing: .5px;
}
.header_container
{
    position: relative;
    background-color: var(--primary);
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: var(--header-color);
    font-weight: 600;
    font-size: 12px;
    z-index: 9;
}
.inline_center_vertical
{
    display: flex;
    align-items: center;
}
a{
    color: inherit;
    text-decoration: none;
}
.header_container .facebook_icon,
.header_navigation__links__item .icons_links
{
    width: 25px;
    height: 25px;
    overflow: hidden;
}
.header_navigation__links__item .icons_links.account .icon_image{height: 200px;}

.fa_facebook_square,
.header_navigation__links__item .icons_links .icon_image{
    background-image: url("../img/fb_icons.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 120px;
    height: 5000px;
    transform: translate(-49px, -1305px);
}
.header_container .form_wrapper{
    height: 25px;
    width: 450px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 10px;
}
.header_container .form_wrapper .search_input{
    display: inline-block;
    width: 100%;
    height: 100px;
    max-height: 25px;
    padding: 5px;
    border: none;
    color: var(--gray-color);
    font-size: 13px;
}

.header_container .form_wrapper .search_icon{
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    display: block;
    position: absolute;
    height: 100%;
    width: 25px;
    right: 15px;
    top: 0;
}

.header_navigation .header_navigation__links,
.header_navigation .profile_img_container,
.header_navigation__links__item{
    display: flex;
    align-items: center;
    height: 25px;
    overflow-y: hidden;
}

.header_navigation .profile_img{
    height: 100%;
    width: 25px;;
    border-radius: 50%;
    margin-right: 5px;
}
.header_navigation__links__item:not(:last-child)::after{
    content: "";
    display: inline-block;
    border: none;
    height: 60%;
    background-color: var(--light-primary-color);
    margin: 0 8px;
    width: 1px;
}

.header_navigation__links__item .icons_links{height: 5000px;}
.header_navigation__links__item .icons_links.account{height: 200px;}
.header_navigation__links__item .icons_links:not(:last-child){
    margin-right: 5px;
}

.header_navigation__links__item .invitation .icon_image{
    transform: translate(-50px, 1025px);
}
.header_navigation__links__item .message .icon_image{
    transform: translate(-25px, 1075px);
}
.header_navigation__links__item .notification .icon_image{
    transform: translate(-24px, 1050px);
}
.header_navigation__links__item .account .icon_image{
    background-image: url("../img/fb_icons2.png");
    width: 25px;
    transform: translateY(63px);
}
.header_navigation__links__item .help .icon_image{
    transform: translate(1px, 975px);
}

.header_navigation__links__item .options .icon_image{
    transform: translate(-2px, 1025px);
}

.content_wrapper
{
    display: flex;
    justify-content: space-between;
}
.main{flex-grow: 1;}

.main .main_container
{
    width: 1050px;
    max-width: 100%;
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
}
.content_wrapper .contacts{
    width: 220px;
    font-size: 13px;
}
.main_container .main_left_sidebar{width: 200px;}
.main_container .main_left_sidebar .account_options__items
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.1;
    cursor: pointer;
}
.main_container .main_left_sidebar .account_options__items.active,
.main_container .main_left_sidebar .account_options__items:hover{
    background: #f5f6f7;
    border: #dddfe2;
}
.account_options_links {
    display: flex;
    align-items: center;
}
.main_left_sidebar .account_options__items .account_options_links{
    display: flex;
    align-items: center;
    overflow-y: hidden;
}
.main_left_sidebar h4{
    margin-top: 1em;
    font-weight: 600;
    line-height: 1;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--secondary-color);
}

.account_options__items .account_options_links img.profile_img,
.account_options_links .account_option_links_img_container{
    width: 22px;
    height: 22px;
    overflow: hidden;
    display: inline-block;
    margin: 0 5px;
}
.account_options_links .account_option_links_img_container .account_options_links_img
{
    display: inline-block;
    background-image: url("../img/fb_icons.png"); 
    background-repeat: no-repeat;
    transform: translate(-3px, 3px);
    width: 200px;
    height: 5000px;
}
.profile_link{
    margin-bottom: .5em;
}
.account_options__items .account_options_links img.profile_img{
    border-radius: 50%;
}

.account_options_links .account_option_links_img_container .account_options_links_img.fil_actu{  
    transform: translate(-20px, -1675px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.options{  
    transform: translate(-20px, -1948px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.msn{
    transform: translate(-72px, -1104px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.watch{
    transform: translate(-19px, -1801px);
}
.watch_icon{
    position: relative;
    width: 100%;
    display: inline-block;
}
.watch_icon::after{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fa3e3e;
    position: absolute;
    right: 5px;
}
.nb
{
    color: var(--light-gray-color);
    font-size: 11px;
    margin-right: 5px;
}
.account_options_links .account_option_links_img_container .account_options_links_img.market{
    transform: translate(-62px, -1654px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.club,
.account_options_links .account_option_links_img_container .account_options_links_img.basketball{
    background-image: url("../img/ludo_club.png");
    width: 18px;
    height: 18px;
    background-size: contain;
    transform: translate(3px, 3px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.basketball{
    background-image: url("../img/backetball.jpg");
}
.account_options_links .account_option_links_img_container .account_options_links_img.covid{
    transform: translate(-20px, -1740px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.pages{
    transform: translate(-73px, -1143px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.events{
    transform: translate(-73px, -1401px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.groups{
    transform: translate(-73px, -1041px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.collect{
    transform: translate(1px, -1633px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.listfriends{
    transform: translate(-41px, -1612px);
}


.account_options_links .account_option_links_img_container .account_options_links_img.games{
    transform: translate(-75px, -1062px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.reference{
    transform: translate(-75px, -1505px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.manageapp{
    transform: translate(-75px, -1209px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.oculus{
    transform: translate(-74px, -1125px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.offers{
    transform: translate(-62px, -1676px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.selgroup{
    transform: translate(0px, -1780px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.crisisservice{
    transform: translate(-75px, -1462px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.refoundfriends{
    transform: translate(-62px, -1612px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.videosgames{
    transform: translate(-73px, -999px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.weather{
    transform: translate(-62px, -1759px);
}

.account_options_links .account_option_links_img_container .account_options_links_img.memories{
    transform: translate(1px, -1696px);
}

.account_options_links .account_option_links_img_container .account_options_links_img.lives{
    transform: translate(-41px, -1654px);
}

.account_options_links .account_option_links_img_container .account_options_links_img.jobs{
    transform: translate(-74px, -1293px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.recording{
    transform: translate(-74px, -1271px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.more{
    transform: translate(-15px, -2314px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.video{
    transform: translate(-74px, -1166px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.photo{
    transform: translate(-62px, -1696px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.friend{
    transform: translate(-41px, -1613px);
}
.account_options_links .account_option_links_img_container .account_options_links_img.more-options{
    transform: translate(-20px, -1885px);
}


.contacts .account_option_links_img_container
{
    width: 18px;
    height: 18px;

}
.account_options_links .account_option_links_img_container .account_options_links_img.search{
    background-image: url("../img/fb-icons3.png");
    transform: translate(1px, -532px);
    height: 1000px;
}
.account_options_links .account_option_links_img_container .account_options_links_img.settings{
    background-image: url("../img/fb-icons3.png");
    transform: translate(-33px, -532px);
    height: 1000px;
}.account_options_links .account_option_links_img_container .account_options_links_img.edit{
    background-image: url("../img/fb-icons3.png");
    height: 1000px;
    transform: translate(2px, -446px);
}.account_options_links .account_option_links_img_container .account_options_links_img.add{
    background-image: url("../img/fb-icons3.png");
    transform: translate(-16px, -480px);
    height: 1000px;
}
.foldable_event{
    color: var(--primary);
    display: flex;
    align-items: center;
    margin-top: 10px;
    outline: none;
}
.foldable_event.hide{
    display: none;
}

.foldable{
    height: 0;
    overflow: hidden;
}
.foldable.open{
    height: auto;
}

.main_content{
    padding: 0 1em;
    overflow-x: hidden;
    height:100vh;
    max-width: 535px;
}
/*  HIDE Scrollbar */
 /* Hide scrollbar for Chrome, Safari and Opera */
/* Hide scrollbar for IE, Edge and Firefox */
.main_content::-webkit-scrollbar
{
    display: none;
}
.main_content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 
/* END HIDE Scrollbar */
.main_content .card_title
{
    font-weight: 700;
}

.main_content .card,
.main_content .post_card{ 
    border: 1px solid var(--border-gray-color);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 13px;
    margin-bottom: .8em;
}
.main_content .post_card:last-child{
    margin-bottom: 100px;
}
.main_content .card .card_head{
    background-color: var(--gray-medium);
    padding: .5em;
    border-bottom: 1px solid var(--border-gray-color);   
}
.main_content .card_body
{
    padding: 1em 4em 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main_content .separator
{
    content: "";
    display: block;
    border-bottom: 1px solid var(--border-gray-color);
    width: calc(100% - 2em);
    margin: 1em auto 1em auto;
}

.main_content .card_body .profile_image{
    width: 45px;
    border-radius: 50%;
}
.main_content .card_body .new_post
{
    flex-grow: 2;
    border: none;
    margin-left: 1.5em;
    resize: none;
    padding: 1em  0;
    font-size: 13px;
    font-family: inherit;

    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.main_content .card_body .new_post::-webkit-scrollbar
{
    display: none;
}

.main_content .card_footer ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: .6em;
    font-size: 12px;
}

.main_content .card_footer .account_options__items:not(:last-child)
{
    margin-right: 5px;
}
.main_content .card_footer .account_options__items
{
    background-color: var(--gray-medium);
    border-radius: 20px;
    padding: .5em .8em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_content .card_footer .account_options__items .account_options_links
{
    display: flex;
    align-items: center;
    justify-content: center;
}


.main_content .post_card .post_card_head{
    padding: .4em .8em ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray-color);
    font-weight: 400;
    font-size: 13px;
}

.main_content .post_card .post_card_head + .separator{margin-top: 0;}
.post_card .separator{margin:.8em auto .4em auto}
.main_content .post_card .post_card_body .post_author
{
    display: flex;
    align-items: center;
    padding: 0 .8em;
    padding-bottom: 1em;
    color: var(--primary);
    font-weight: 400;
}
.main_content .post_card .post_card_body .post_author .profile_image
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}
.main_content .post_card .post_card_body .post_author h2{
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
}
.main_content .post_card .post_card_body .post_author .hours::after
{
    content: ".";
    display: inline-block;
    margin-left: 5px;
    transform: translateY(-2px);
}

.main_content .post_card .post_author .account_options_links .account_option_links_img_container .account_options_links_img
{
    transform: translate(-68px, -2178px);
}
.main_content .post_card .post_description
{
    padding: 0 .8em;
    padding-bottom: 1em;
    font-weight: 400;
    color: var(--active-color);
}
.post_content img{
    width: 100%;
}
.post_likes_comments
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    padding: .5em .8em;
    padding-bottom: 0;
}
.likes_count,
.share_comments_counts{
    display: flex;
    align-items: center;
}
.likes_number,.share{
    margin-left: 10px;
}

.post_likes_comments .account_options_links{
    display: inline-block;
    width: 22px;
}
.post_likes_comments .account_options_links .account_option_links_img_container .account_options_links_img.likes_thumb
{
    transform: translate(1px, -2031px);
}
.post_likes_comments .account_options_links .account_option_links_img_container .account_options_links_img.likes_love
{
    transform: translate(-20px, -2032px);
}
.post_likes_comments .account_options_links .account_option_links_img_container .account_options_links_img.likes_solidarity
{
    transform: translate(-62px, -2032px);
}

.post_card .post_card_footer ul
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2em .8em .8em 4.5em;
}
.post_card .post_card_footer img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.main_container .main_right_sidebar
{
    flex: none;
    width: 310px;
    font-size: 12px;
    color: var(--primary);
}
.main_right_sidebar .min_card{
    background-color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.main_right_sidebar .min_card .lang_list
{
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.main_right_sidebar li:not(:last-child)::after{
    content: ".";
    display: inline-block;
    margin: 0 5px;
    transform: translateY(-2px);
}
.main_right_sidebar li:not(.selected_lang)
{
    cursor: pointer;
}
.main_right_sidebar li.selected_lang
{
    color: var(--light-gray-color);
    cursor: default;
}
.main_right_sidebar .notices{
    display: flex;
    padding: .7em 1em 0 1em;
    flex-wrap: wrap;
    color: var(--light-gray-color);
}

.main_right_sidebar .add_lang{
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    padding: 0 .4em;
    line-height: 1;
    font-size: 25px;
    font-weight: 500;
    color: var(--gray-color);
}
.main_right_sidebar .facebook_copyright{
    color: var(--gray-color);
    margin-left: 1em;
}
.contacts{
    border-left: 1px solid #ccc;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
}
.contacts .title_seconday{
    margin: 0 .7em;
    margin-bottom: 1em;
}

.contacts img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 .7em;
}
.contacts .list_friends{
    padding-right: 1em;
    height: calc(100vh - 80px);

    padding-top: 15px;
    overflow-y: scroll;
}
.contacts .list_friends li,
.contacts .list_friends li div{
    display: flex;
    align-items: center;
}

.contacts .list_friends li.online .logout_since{
    display: none;
}

.contacts .list_friends li.online .green_dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--green-online);
}

.contacts .list_friends li{
    justify-content: space-between;
    line-height: 35px;
    margin: 8px 0;
    color: var(--secondary-color);
    font-weight: 400;
}
.contacts .list_friends li:last-child{
    margin-bottom: 20px;
}
.contacts .list_friends .logout_since{
    align-self: flex-end;
    color: var(--gray-color);
}

.contacts .wrapper_form
{
    position: absolute;
    bottom: 45px;
    width: 100%;
    background-color: #fff;
}
.contacts .wrapper_form .search_container
{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.contacts .wrapper_form input{
    border: none;
    padding: .5em;
    max-width: 40%;
    transform: translateY(-2px);
}
.contacts .wrapper_form .account_options_links
{
    padding-left: 0px;
}